<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.roll.startuplibrary">

    <application>

        <provider
            tools:replace="android:authorities"
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.roll.startuplibrary.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data  android:name="com.roll.startuplibrary.StartupLibInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>